
<section *ngIf="step1" class="w-50 mx-auto rounded bg-main-light shadow p-3">
    <form [formGroup]="forgotForm"(ngSubmit)="forgotPassword()">
        <label for="email">Email</label>
        <input formControlName="email" class="form-control" id="email" type="email">
        <div class="alert alert-danger"
        *ngIf="forgotForm.get('email')?.errors && (forgotForm.get('email')?.touched || forgotForm.get('email')?.value.length>0) ">
        <p *ngIf="forgotForm.get('email')?.getError('required')">Email is Required</p>
        <p *ngIf="forgotForm.get('email')?.getError('email')">email invalid</p>
    </div>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{userMsg}}</p>

        <button  class="btn-main w-100 mt-3">Forget password <i *ngIf="isLoading" class="fas fa-spinner fa-spin ms-auto ms-3"></i>
        </button>
    </form> 
</section>





<section *ngIf="step2" class="w-50 mx-auto rounded bg-main-light shadow p-3">
    <form [formGroup]="resetCodeForm"(ngSubmit)="resetCode()">
        <label for="resetCode">Reset code</label>
        <input formControlName="resetCode" class="form-control" id="resetCode" type="text">
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{userMsg}}</p>

        <button class="btn-main w-100 mt-3">Reset code <i *ngIf="isLoading" class="fas fa-spinner fa-spin ms-auto ms-3"></i></button>
    </form> 
</section>



<section *ngIf="step3" class="w-50 mx-auto rounded bg-main-light shadow p-3">
    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
        <label for="newPassword">New password</label>
        <input formControlName="newPassword" class="form-control" id="newPassword" type="password">
        <div class="alert alert-danger"
            *ngIf="resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.value.length>0) ">
            <p *ngIf="resetPassword.get('newPassword')?.getError('required')">password is Required</p>
            <p *ngIf="resetPassword.get('newPassword')?.getError('pattern')">password must start with upperCase then from 6
                to 10 </p>
        </div>
        <button class="btn-main w-100 mt-3 ">Reset password <i *ngIf="isLoading" class="fas fa-spinner fa-spin ms-auto ms-3"></i></button>
    </form> 
</section>

