<section class="w-75 mx-auto rounded-3 bg-main-light p-3 my-3">
    <form [formGroup]="checkOutForm" (ngSubmit)="handleForm()">
       <h1>CheckOut Session </h1>
       <div class="">
        <label for="details">details</label>
        <input class="form-control" type="text" name="details" id="details" formControlName="details">
       </div>
       <div class="">
           <label for="phone">phone :</label>
           <input class="form-control" type="text" name="phone" id="phone" formControlName="phone">
          </div>
   
          <div class="">
           <label for="details">city</label>
           <input class="form-control" type="text" name="city" id="city" formControlName="city">
          </div>
   
          <button class="btn-main mt-3">Checkout</button>
       </form>
   
   </section>